button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/*유선: 커서 올렸을 때 색 변경 코드. 오옛날에 만들어둔 코드인데 실행이 안 됨. 보완 예정.*/
button:hover {
  background-color: black;
  color: lightgray;
}